<ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href="<%= admin_path %>">Dashboard</a>
    </li>
</ol>

<script>
$(function() {
  $('.nav-item').removeClass('active');
  $('.nav-item.nav-dashboard-item').addClass('active');
});
</script>
