<!-- WRAPPER -->
<div class="wrapper">

  <!-- HERO -->
  <section id="hero" class="module-hero bg-dark-30 js-fullheight" data-background="http://jonathantaitfilms.com/img/sunnies.jpg">

    <!-- HERO TEXT -->
    <div class="hero-caption">
      <div class="hero-text">
        <h1 class="hero-title">About Me</h1>
        <!-- <p class="hero-subtitle font-serif m-t-40">A collection of textile samples lay spread out on the table – Samsa was a travelling<br> salesman – and above it there hung a picture that he had recently cut.</p>
      </div> -->
    </div>
    <!-- /HERO TEXT -->

  </section>
  <!-- /HERO -->

  <!-- SERVICES -->
  <section class="module">
    <div class="container-fluid container-custom">

      <!-- MODULE TITLE -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <!-- <h2 class="module-title font-alt">Our Services</h2> -->
          <%= @about_block.content.html_safe %>
        </div>
      </div>
      <!-- /MODULE TITLE -->

      

      </div>
      
      <% unless controller_name == 'home' && controller.action_name == 'index' %>

      <hr class="divider">

      <!-- FOOTER -->

      <footer class="footer module-overlay-dark-3">
        <div class="container-fluid container-custom">
      
          <div class="row">
            <div class="col-sm-12">
              <ul class="contact-info font-alt">
                <li><a href="#">taitfilms@gmail.com</a></li>
              </ul>
              <div class="copyright text-center font-alt">
                © 2017 <a href="#">Jonathan Tait</a>, All Rights Reserved.
              </div>
            </div>
          </div>
      
          <!-- SCROLLTOP -->
          <a class="to-top-link" href="#top">
            <i class="fa fa-angle-up"></i>
          </a>
      
        </div>
      </footer>

      <!-- /FOOTER -->
      <% end %>

    </section>
  </div>
