<!-- WRAPPER -->
<div class="wrapper">

  <!-- HERO -->
  <section id="hero" class="module-hero bg-dark-30 js-fullheight" data-background="http://jonathantaitfilms.com/img/sunnies.jpg">

    <!-- HERO TEXT -->
    <div class="hero-caption">
      <div class="hero-text">
        <h1 class="hero-title">About Me</h1>
        <!-- <p class="hero-subtitle font-serif m-t-40">A collection of textile samples lay spread out on the table – Samsa was a travelling<br> salesman – and above it there hung a picture that he had recently cut.</p>
      </div> -->
    </div>
    <!-- /HERO TEXT -->

  </section>
  <!-- /HERO -->

  <!-- SERVICES -->
  <section class="module">
    <div class="container-fluid container-custom">

      <!-- MODULE TITLE -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <!-- <h2 class="module-title font-alt">Our Services</h2> -->
          <%= @about_block.content.html_safe %>
        </div>
      </div>
      <!-- /MODULE TITLE -->

      

      </div>

    </section>
  </div>
