<!-- WRAPPER -->
<div class="wrapper">

  <!-- HERO -->
  <section id="hero" class="module-hero bg-dark-30 js-fullheight" data-background="http://jonathantaitfilms.com/img/sunnies.jpg">

    <!-- HERO TEXT -->
    <div class="hero-caption">
      <div class="hero-text">
        <h1 class="hero-title">About Me</h1>
        <!-- <p class="hero-subtitle font-serif m-t-40">A collection of textile samples lay spread out on the table – Samsa was a travelling<br> salesman – and above it there hung a picture that he had recently cut.</p>
      </div> -->
    </div>
    <!-- /HERO TEXT -->

  </section>
  <!-- /HERO -->

  <!-- SERVICES -->
  <section class="module">
    <div class="container-fluid container-custom">

      <!-- MODULE TITLE -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <!-- <h2 class="module-title font-alt">Our Services</h2> -->
          <p class="module-subtitle">I am a documentary maker and photographer whose main interest is in peace in war and land rights.</p>

          <p>I am currently working on a project about a global peace ambassador born in Jerusalem into the maelstrom of Israeli independence. Through visiting the region as the 2014 summer conflict was starting to cease, I saw many sides to Palestine and Israel and the myriad issues surrounding the conflict that are incomprehensible to the outsider. I wanted to tell the stories of those who fight for peace, for Muslims, Jews, Christians and anyone else who inhabits the Holy Land.</p>

          <p>I frequently work for the NHS including at Great Ormond Street Hospital and for NGOs. I have spent many years working in television, from snowboarding to history shows, most recently shooting on hit series Forbidden History.</p>
        </div>
      </div>
      <!-- /MODULE TITLE -->

      

      </div>

    </div>
  </section>
