<!-- WRAPPER -->
<div class="wrapper">

  <!-- SERVICES -->
  <section class="module">
    <div class="container-fluid container-custom">

      <!-- MODULE TITLE -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <!-- <h2 class="module-title font-alt">Our Services</h2> -->
          <%= @contact_block.content.html_safe %>
        </div>
      </div>
      <!-- /MODULE TITLE -->

      

      </div>

    </section>
  </div>
